
body { /* */
	background-color: transparent;
	color:white;
	vertical-align: top;
	display: block;
}

canvas { /* */
	vertical-align: top;
    border-style: solid;
    border-width: 1px;
    border-color: #222 #222 #222;
}
#besideMouse {
	height:0px;
	width:0px;
}

#warntext {
	color:#400000;
}
#hiddenContainer {
	/* hidden container where I put user interface buttons that aren't part of 
	normal route preview functionality.  If no route is passed, it falls back into
	user direct mode, exposing the buttons and file loading form. */
	display:none;
	width:100%;
	background-color:#A0A0A0;
}

#hiddenCadGphCon {
	display:none;
	width:100%;
}

#hiddenPwrGphCon {
	display:none;
	width:100%;
}

#hiddenHrmGphCon {
	display:none;
	width:100%;
}

#xmlfile { /* file input form */
	width:20%;
	font-size:8pt;
	height:25px;
}

#btnImpMet { /* Imperial/Metric toggle button */
	width:20%;
	font-size:8pt;
	height:25px;
}

#btnTmDst { /* Time/Distance axis toggle button */
	width:20%;
	font-size:8pt;
	height:25px;
}

#btnScrSht { /* Screenshot button */
	width:20%;
	font-size:8pt;
	height:25px;
}

#main { /* outer container for the canvases */
	overflow: hidden;
}

#canvasContainer { /* inner container for canvases */
	width:1280px;
	overflow: hidden;
	width:100%;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
}

#topCvsBar {
	width:1280px;
	height:64px;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
}


#elv { /* elevation profile canvas  -- NOTE: CSS only sets canvas "box" so canvas size must be controlled in html. */
}

#btn { /* button canvas */
}

#bmap { /* map canvas */
}

#scrContainer { /* screenshot container */
	 display:none;
}

#scrCanvas { /* screenshot canvas */
	 width:1280;
	 height:720;
}


