.topbanner {
	background-image:url("images/gtbv_banr.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center; 
}

.link {
	color: #7080C0;
	text-decoration: underline;
} 

::placeholder {
	color: #A0B0A8;
}

#tblSummary {
  border: 0px solid black;
}
#rowSortFilter {
	height: 36px;
	background-color:#556065;
}


#myDistMin {
	width:100%;
	background-color:#303030;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myDistMax {
	width:100%;
	background-color:#303030;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myElvMin {
	width:100%;
	background-color:#303030;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myElvMax {
	width:100%;
	background-color:#303030;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myRateMin {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#dblFilt {
	font-size:0;
}
#metSwCell {
	font-size:10pt;
}
#fltDescrip{
	font-size:10pt;
	color:#C0D0C8;
}
#tblHeaderRow{
	font-size:10pt;
}

#myInRoute {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#myInAuthor {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#myInType {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#cellDstSort {
}
#cellElvSort {
}
#cellRtgSort {
}


