.topbanner {
	background-image:url("images/gtbv_banr.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center; 
}

.link {
	color: #7080C0;
	text-decoration: underline;
} 

::placeholder {
	color: #A0B0A8;
}

#tblSummary {
  border: 0px solid black;
}
#rowSortFilter {
	height: 46px;
	background-color:#556065;
}

#btnDistAsc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}
#btnDistDesc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}
#btnElvAsc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}
#btnElvDesc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}
#btnRtgAsc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}
#btnRtgDesc {
	background-color:#303030;
	color:#C0D0C8;
	height:25px;
	width:45px;
    font-size:8pt;
}

#myDistMin {
	width: 6em;
	background-color:#303030;
    height:25px;
    font-size:8pt;
	color:#C0D0C8;
}
#myDistMax {
	width: 6em;
	background-color:#303030;
    height:25px;
    font-size:8pt;
	color:#C0D0C8;
}
#myElvMin {
	width: 6em;
	background-color:#303030;
    height:25px;
    font-size:8pt;
	color:#C0D0C8;
}
#myElvMax {
	width: 6em;
	background-color:#303030;
    height:25px;
    font-size:8pt;
	color:#C0D0C8;
}
#myRateMin {
	background-color:#303030;
	size:10;
    height:50px;
    font-size:10pt;
	color:#C0D0C8;
}

#myInRoute {
	background-color:#303030;
	size:10;
    height:50px;
    font-size:10pt;
	color:#C0D0C8;
}
#myInAuthor {
	background-color:#303030;
	size:10;
    height:50px;
    font-size:10pt;
	color:#C0D0C8;
}
#myInType {
	background-color:#303030;
	size:10;
    height:50px;
    font-size:10pt;
	color:#C0D0C8;
}
