#topbanner {
	background-image:url("images/gtbv_banr.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center; 
}

.link {
	color: #7080C0;
	text-decoration: underline;
} 

body {
	background-color:#49422D;
}

h1 {
	color:#C0D0C8;
}

::placeholder {
	color: #A0B0A8;
}

#intro {
	color:#C0D0C8;
	font-size:10pt;
}

#smallMpIcn {
	height:15px;
}

#tallDlIcn {
	height:15px;
}

#metSwImg {
	height:30px;
}

#grdMap {
	height:15px;
}

#hdnCol {
	display:none;
}

#tblSummary {
  width: 100%;
  border: 0px solid black;
  color:#a0b0a8;
}

#tblSingle {
  width: 100%;
  border: 0px solid black;
  color:#a0b0a8;
  
}

#linkIFrame {
	height:20px;
	width:94px;
	background-color: transparent;
	border:0px solid black;
}

#rowSortFilter {
	height: 30px;
	background-color:#556065;
}

#fltDescrip{
	font-size:10pt;
	color:#C0D0C8;
}

#tblHeaderRow{
	font-size:10pt;
	color:#C0D0C8;
}

#colInRoute { 
	width:75%;
	font-size:0;
}
#colInAuthor {
	width:75%; 
	font-size:0;
}
#colInType {
	width:12%;
	font-size:0;
}
#colDst {
	width:10%;
	font-size:0;
}
#colElv {
	width:10%;
	font-size:0;
}
#colRt {
	width:10%;
	font-size:0;
}
#metSwCell {
	width:8%;
	font-size:10pt;
}
#retCell {
	width:8%;
	font-size:10pt;
}

#myInRoute { 
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#myInAuthor {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#myInType {
	background-color:#303030;
	width:100%;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}
#myDistMin {
	background-color:#303030;
	width:100%;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myDistMax {
	background-color:#303030;
	width:100%;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myElvMin {
	background-color:#303030;
	width:100%;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myElvMax {
	background-color:#303030;
	width:100%;
    height:17px;
    font-size:6pt;
	color:#C0D0C8;
}
#myRateMin {
	background-color:#303030;
	width:94px;
    height:35px;
    font-size:8pt;
	color:#C0D0C8;
}

#cellDstSort {
	width:100%;
}
#cellElvSort {
	width:100%;
}
#cellRtgSort {
	width:100%;
}

#mapRow {
	height:100%;
}

#mapFrame {
	width:1280px;
	height:736px;
	border:0px solid black;
	background-color: transparent;
}

#stbkup {
	height:20px;
}
